@using System.IO
@using DCHotelManagerCore.Lib.Models.Persistent
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model DCHotelManagerCore.Lib.Models.Persistent.Room

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Rooms</h2>

<form asp-controller="MvcRoom" asp-action="Create" method="post">

    <label>Hotel Name</label>
    @Html.TextBoxFor(model => model.HotelName)
    <label>Hotel Id</label>
    @Html.TextBoxFor(model => model.HotelId)
    <label>Code</label>
    @Html.TextBoxFor(model => Model.Code)
    <label>Room Type</label>
    @Html.TextBoxFor(model => model.RoomTypeId)
    <label>Is Checked</label>
    @Html.CheckBoxFor(model => model.IsChecked)

    @*<a asp-action="Create">Create New</a>*@
    <input type="submit" value="Create"/>
    @*<button type="button" class="btn btn-default" asp-controller="MvcHotel" asp-action="Create" asp-route-id="@Model.Name"></button>*@

    @*<a asp-controller="MvcHotel" asp-action="Create" asp-route-hotelName="10"> ProductName</a>*@
    <input type="hidden" asp-for="Id"/>

</form>