@using System.IO
@using DCHotelManagerCore.Lib.Enums
@using DCHotelManagerCore.Lib.Models.Persistent
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model DCHotelManagerCore.Lib.Models.Persistent.RoomType

@{
    ViewBag.Title = "RoomType";
    Layout = "_Layout";
}

<h2>Rooms</h2>

<form id="createOrUpdateRoomTypeForm" asp-controller="MvcRoomType" asp-action="Create" method="post">

    @if (Model != null)
    {

        <label>Bed Type</label>
        @Html.TextBoxFor(model => model.BedType, new { @readonly = "readonly" })
        <label>View</label>
        @Html.TextBoxFor(model => model.View, new { @readonly = "readonly" })
    }
    else
    {
        <label>Bed Type</label>
        <select asp-for="BedType" asp-items="Html.GetEnumSelectList<DCHotelManagerCore.Lib.Enums.BedType>()"></select>
        <label>View</label>
        <select asp-for="View" asp-items="Html.GetEnumSelectList<DCHotelManagerCore.Lib.Enums.View>()"></select>
    }
    <label>Code</label>
    @Html.TextBoxFor(model => model.Code)
    
    <label>Shauna</label>
    @Html.CheckBoxFor(model => Model.Sauna)
    <label>Tv</label>
    @Html.CheckBoxFor(model => Model.Tv)
    <label>Wif-Fi</label>
    @Html.CheckBoxFor(model => model.WiFi)

    @*<a asp-action="Create">Create New</a>*@
    <input id="createRoomType" type="submit" value="Create" onclick="return requiredFields();"/>
    @*<button type="button" class="btn btn-default" asp-controller="MvcHotel" asp-action="Create" asp-route-id="@Model.Name"></button>*@

    @*<a asp-controller="MvcHotel" asp-action="Create" asp-route-hotelName="10"> ProductName</a>*@
    <input type="hidden" asp-for="Id" />
    
    <div id="divProcessing">
        <p>Processing, please wait . . . <img src="/images/25.gif" alt="" /></p>
    </div>

</form>