@using DCHotelManagerCore.Lib.Models.Persistent
@model IList<DCHotelManagerCore.Lib.Models.Persistent.RoomType>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Rooms</h2>
<form id="deleteRoomTypeForm" asp-controller="MvcRoomType" asp-action="Delete" aspmethod="post">



    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="thumbnail">
                @*<img src="@hotel.ImageThumbnailUrl" alt="" />*@

                <div class="caption">

                    <h3 class="pull-right">@Model[i].BedType</h3>
                    @Html.CheckBoxFor(m => Model[i].IsChecked)
                    <a asp-action="CreateOrUpdateRoomType" asp-route-id="@Model[i].Id">Edit</a>
                    <h3>
                        <a>@Model[i].BedType</a>
                    </h3>
                    <p>@Model[i].Code</p>
                </div>
            </div>

            @Html.HiddenFor(m => Model[i].Id)
            @Html.HiddenFor(m => Model[i].Code)
            @Html.HiddenFor(m => Model[i].Created)
            @Html.HiddenFor(m => Model[i].CreatedBy)
            @Html.HiddenFor(m => Model[i].Deleted)
            @Html.HiddenFor(m => Model[i].DeletedBy)
            @Html.HiddenFor(m => Model[i].BedType)
            @Html.HiddenFor(m => Model[i].Sauna)
            @Html.HiddenFor(m => Model[i].View)
            @Html.HiddenFor(m => Model[i].IsChecked)
            @Html.HiddenFor(m => Model[i].WiFi)
            @Html.HiddenFor(m => Model[i].Tv)
            @Html.HiddenFor(m => Model[i].Updated)
            @Html.HiddenFor(m => Model[i].UpdatedBy)

        </div>
    }


    <input id="deleteRoomType" type="submit" value="Delete" onclick="return requiredFields();" />

    <div id="divProcessing">
        <p>Processing, please wait . . . <img src="/images/25.gif" alt="" /></p>
    </div>
</form>
