@model DCHotelManagerCore.UINew.Controllers.Models.Hotel.HotelViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Hotels</h2>
<form asp-controller="MvcHotel" asp-action="Delete" method="post">
    
    @Html.TextBoxFor(m => Model.test)
    
    @for (int i = 0; i < Model.Entities.Count; i++)
    {
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="thumbnail">
                @*<img src="@hotel.ImageThumbnailUrl" alt="" />*@

                <div class="caption">

                    <h3 class="pull-right">@Model.Entities[i].Email</h3>
                    @Html.CheckBoxFor(m => Model.Entities[i].IsChecked)
                    <a asp-action="CreateOrUpdateEntity" asp-route-id="@Model.Entities[i].Id">Edit</a>
                    <h3>
                        <a>@Model.Entities[i].Name</a>
                    </h3>
                    <p>@Model.Entities[i].Address</p>
                </div>
            </div>
            
            @Html.HiddenFor(m => Model.Entities[i].Id)
            @Html.HiddenFor(m => Model.Entities[i].Address)
            @Html.HiddenFor(m => Model.Entities[i].Created)
            @Html.HiddenFor(m => Model.Entities[i].CreatedBy)
            @Html.HiddenFor(m => Model.Entities[i].Deleted)
            @Html.HiddenFor(m => Model.Entities[i].DeletedBy)
            @Html.HiddenFor(m => Model.Entities[i].Email)
            @Html.HiddenFor(m => Model.Entities[i].Manager)
            @Html.HiddenFor(m => Model.Entities[i].Name)
            @Html.HiddenFor(m => Model.Entities[i].Phone)
            @Html.HiddenFor(m => Model.Entities[i].TaxId)
            @Html.HiddenFor(m => Model.Entities[i].Updated)
            @Html.HiddenFor(m => Model.Entities[i].UpdatedBy)
        </div>
    }
    
   
    <input type="submit" value="Delete" />
</form>
